body {
    background-color: rgb(17, 24, 63);
}

header {
    font-family: Fantasy, Copperplate;
    color: rgb(0, 0, 0);
    text-align: center;
    background-color: hsl(240, 71%, 70%);
    padding: 1px;
    margin: 24px;
}

.flex-container nav a {
    background-color: #979dfa;
    padding: 15px;
    margin: 33px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.flex-container a {
    font-family: Fantasy, Copperplate;
    font-size: 20px;
    padding: 10px;
}

.flex-container nav a:hover {
    background-color: rgb(255, 255, 255);
    text-decoration: underline;
}

.contact-form {
    width: 90%;
    max-width: 400px;
    margin: 20px auto;
    padding: 15px;
    background: rgb(209, 184, 255);
    border-radius: 8px;
    text-align: center;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 16px;
}

.contact-form textarea {
    height: 80px;
}

.contact-form button {
    width: 100%;
    background-color: #3e09bb;
    color: rgb(255, 255, 255);
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #0056b3;
}

#error-msg {
    color: red;
    font-size: 14px;
    display: none;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.column {
    flex: 1;
    min-width: 250px;
    text-align: center;
}

.column img {
    width: 100%;
    max-width: 100%;
    border-radius: 8px;
}

.hidden {
    display: none;
}


.gallery {
    display: inline-block;
    margin: 10px;
  }
  
  .gallery img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    cursor: pointer;
  }
  
@media only screen and (max-width: 1024px) {
    .flex-container nav a {
        padding: 12px;
        margin: 15px;
        font-size: 18px;
    }
}

@media only screen and (max-width: 768px) {
    .contact-form {
        width: 80%;
        padding: 15px;
    }

    .contact-form input,
    .contact-form textarea {
        font-size: 14px;
    }

    .contact-form button {
        font-size: 14px;
    }
}

@media only screen and (max-width: 480px) {
    .contact-form {
        width: 90%;
        padding: 10px;
    }

    .contact-form input,
    .contact-form textarea {
        font-size: 12px;
    }

    .contact-form button {
        font-size: 14px;
    }
}

@media only screen and (max-width: 480px) {
    .flex-container nav a {
        display: block;
        margin: 10px 0;
        font-size: 14px;
    }
}